body {
font-family: "Montserrat", sans-serif;
/* padding: 8px; */
margin: 0;
color: #293651;
font-size: 19px;



}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #00a78e;
  
  
}


.backgroundTopo {

    background-image: url("../images/teste.png");
    
    
}



.topo {

    margin-left: 24%;
    margin-right: 24%;

} 




.greentext {

    color: #00a78e;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 24px;
    
    


}

.slogan {

    font-weight: 400;
    letter-spacing: 3px;
    font-size: 24px;
    line-height: 48px;

}

.enzo{
    color: #293651;
    font-weight: bold;
    line-height: 34px;
    
    
}

.conteudo {

    /* margin: 20px 500px; */
    margin-left: 12%;
    margin-right: 12%;
    padding-top: 3%;
    font-size: 18px;
    

    

}

.introduction {
    color:rgb(135 127 127);
    font-weight: 400;
    font-size: 17.8px;
    line-height: 23px;

}

.button {

  background-color: #00a78e; /* Green */
  border: none;
  color: white;
  padding: 13px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  margin-top: 0.2%;
}

.button:hover, .button:active{

  background-color: #00705f;

}

.imagem {

 text-align: center;
 padding-top: 0.5%;

}

.profile {

    max-width:540px;
    max-height:490px;
    width: auto;
    height: auto;


}

.experience {

    margin-left: 33%;
    margin-right: 33%;
    padding-top: 0.2%;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
    

}

.titleinicial {


    color: #293651;
    font-weight: 600;
    line-height: 15px;
    font-size: 42px;

}

div.divider{

        /* text-align: left; */

        width: 150px;
        margin-bottom: 5%;
        margin-top: 5%;
}

hr.greenline {
    border-top: 3px solid #00a78e;
   
    
    
  }

.textBio {

    text-align: justify;

}

.titleBar {

    color: black;
    font-weight: 600;
    padding-top: 4%;
    line-height: 10px;

}

.porcent1{

    margin-left: 91%;
    color: #85818e;
    
}

/* .espaçamento{

    padding-bottom: 0%;

} */

#progressbar {
    background-color: #eeeff2;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
  }
  
  #progressbar>div {
    background-color: #00a78e;
    width: 85%;
    /* Adjust with JavaScript */
    height: 10px;
    border-radius: 10px;
  }

  #progressbar>.bar2 {
    background-color: #00a78e;
    width: 75%;
    /* Adjust with JavaScript */
    height: 10px;
    border-radius: 10px;
  }

  #progressbar>.bar3 {
    background-color: #00a78e;
    width: 90%;
    /* Adjust with JavaScript */
    height: 10px;
    border-radius: 10px;
  }

  #progressbar>.bar4 {
    background-color: #00a78e;
    width: 65%;
    /* Adjust with JavaScript */
    height: 10px;
    border-radius: 10px;
  }

  .section_projects{

    background-color: #f9f9f9;


  }

  .titleProjects{

        text-align: center;
        padding-top: 5%;

  }

  .title_section2{

    font-size: 42px;
    font-weight: 600;
    line-height: 8px;
    

  }

  .center_greenline2{

    
    text-align: center;

  }

  .greenline2{

    border-top: 3px solid #00a78e;
    width: 10%;
    
  

  }



  

/*font-family: monospace;*/




    
     